@import '../../css/imports.less';

@c: .Who;

@{c} {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  min-height: calc(100vh ~'-' @header-height ~'-' 10px);
  margin: 0 auto;
  padding: 170px 0;
  user-select: none;

  .isMobile &,
  .isTablet & {
    padding: 50px 20px 20px;
  }

  .isDesktop & {
    @media @desktop-short {
      min-height: 480px;
    }
  }

  &-title {
    font-size: @fs-huge;
    font-weight: @fw-bold;
    line-height: @fh-huge;
    text-align: center;

    .isMobile &,
    .isTablet & {
      margin-bottom: 40px;
    }
  }
}
