@import '../../css/imports.less';

@c: .Who;

@{c} {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  min-height: calc(100vh ~'-' @header-height ~'-' 10px);
  margin: 0 auto;
  padding: 170px 0;
  user-select: none;

  .isMobile &,
  .isTablet & {
    padding: 50px 20px 20px;
  }

  .isDesktop & {
    @media @desktop-short {
      min-height: 480px;
    }
  }

  &-title {
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: @fw-bold;
    text-align: center;

    .isMobile &,
    .isTablet & {
      margin-bottom: 40px;
    }
  }

  &-content {
    padding: 40px;

    p {
      margin-bottom: 10px;
      font-weight: @fw-bold;
      line-height: @fh-medium;
    }

    img {
      width: 100%;
      min-height: 200px;
      margin: 20px 0 10px;
      opacity: 0;
      box-shadow: 0 0 10px 5px @c-traslucid--light;
      object-fit: cover;
      object-position: center;
      transition: opacity @td-normal @ease;
      border-radius: 4px;

      &@{c}-image--loaded {
        opacity: 1;
      }
    }

    label {
      display: block;
      margin-bottom: 20px;
      font-size: @fs-small;
      font-weight: @fw-semibold;
      text-align: center;
      user-select: none;
    }

    pre {
      margin: 20px 0 10px;
      padding: 10px 30px 30px;
      font-family: @ff-code;
      font-size: @fs-small;
      border-radius: 4px;
    }

    a {
      text-decoration-style: underline;
      text-decoration-color: @c-transparent;
      text-decoration-thickness: 2px;
      color: @c-blue--pastel;
      transition: text-decoration-color @td-fast @ease;
      cursor: pointer;

      &:hover {
        text-decoration-color: @c-blue--pastel;
      }
    }

    h1 {
      margin-bottom: 30px;
      font-size: @fs-biggest;
    }
  }
}
