@import '../../css/imports.less';

@c: .Project;

@{c} {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  min-height: calc(100vh ~'-' @header-height ~'-' 10px);
  margin: 0 auto;
  padding: 170px 0 50px;

  .isMobile &,
  .isTablet & {
    padding: 50px 20px 20px;
  }

  .isDesktop & {
    @media @desktop-short {
      min-height: 480px;
    }
  }

  &-title {
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: @fw-bold;
    text-align: center;

    .isMobile &,
    .isTablet & {
      margin-bottom: 40px;
    }
  }

  &-slide {
    height: 400px;
    width: 100%;
  }

  &-slideImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-subtitle {
    margin-top: 15px;
    font-size: 16px;
    font-weight: @fw-regular;
    line-height: 24px;
    text-align: center;

    .isMobile &,
    .isTablet & {
      line-height: 20px;
    }
  }
}
