@import '../../css/imports.less';

@c: .Project;

@{c} {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  min-height: calc(100vh ~'-' @header-height ~'-' 10px);
  margin: 0 auto;
  padding: 170px 0 50px;

  .isMobile &,
  .isTablet & {
    padding: 50px 20px 20px;
  }

  .isDesktop & {
    @media @desktop-short {
      min-height: 480px;
    }
  }

  &-title {
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: @fw-bold;
    text-align: center;

    .isMobile &,
    .isTablet & {
      margin-bottom: 40px;
    }
  }

  &-slide {
    height: 400px;
    width: 100%;
  }

  &-image {
    width: 100%;
  }

  &-slideImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-subtitle {
    margin-top: 15px;
    font-size: 16px;
    font-weight: @fw-regular;
    line-height: 24px;
    text-align: center;

    .isMobile &,
    .isTablet & {
      line-height: 20px;
    }
  }

  &-content {
    p {
      margin-bottom: 10px;
    }

    img {
      height: 300px;
      width: 100%;
      margin: 20px 0 10px;
      opacity: 0;
      box-shadow: 0 0 10px 5px @c-traslucid--light;
      object-fit: cover;
      object-position: center;
      transition: opacity @td-normal @ease;
      border-radius: 4px;

      &@{c}-image--loaded {
        opacity: 1;
      }
    }

    label {
      display: block;
      margin-bottom: 20px;
      font-size: @fs-small;
      font-weight: @fw-semibold;
      text-align: center;
      user-select: none;
    }

    pre {
      margin: 20px 0 10px;
      border-radius: 4px;
      padding: 10px 30px 30px;
      font-family: @ff-code;
      font-size: @fs-small;
    }
  }
}
