@import '../../css/imports.less';

@c: .Home;

@{c} {
  padding-bottom: 50px;
  font-family: @ff-sans;

  @media @br-mobile, @br-tablet {
    width: 100%;
    padding-bottom: 50px;
  }

  &-title {
    margin-bottom: 10px;
    font-size: @fs-huge;
    font-weight: @fw-bold;
    line-height: @fh-huge;
    text-align: center;

    @media @br-mobile, @br-tablet {
      margin-bottom: 0;
    }
  }

  &-subtitle {
    margin-bottom: 50px;
    font-family: @ff-sans;
    font-size: 16px;
    font-weight: @fw-regular;
    line-height: 24px;
    text-align: left;
    text-align: center;

    @media @br-mobile, @br-tablet {
      font-size: 16px;
      line-height: 20px;
    }

    @media @br-mobile, @br-tablet {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &-articles:not(.noClass):not(.noClass) {
    list-style-type: none;
    margin: 0;
    text-align: left;
  }

  &-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    @media @mobile {
      display: block;
    }
  }

  &-articleTitle {
    flex: 1;
    font-weight: @fw-semibold;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: @c-transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration-color @td-normal @ease;

    &:hover {
      text-decoration-color: @c-base;
      cursor: pointer;
    }
  }

  &-articleDate {
    font-size: @fs-small;
    font-weight: @fw-regular;
    line-height: @fh-small;
    color: @c-accentLight;
  }

  &-publishedIcon {
    height: 12px;
    width: 12px;
    margin-left: 10px;
    fill: @c-traslucid;

    &--published {
      fill: @c-success;
    }
  }
}
