@import '../../css/imports.less';

@c: .ControlWhen;

@{c} {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 200px;

  &-title {
    margin-bottom: 40px;
    font-size: @fs-huge;
    font-weight: @fw-extraBold;
  }

  &-sortable {
    padding-bottom: 20px;
  }

  &-sortableItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &-sortableItemTitle {
    font-weight: @fw-bold;
  }

  &-sortableItemDate {
    font-size: @fs-normal;
  }

  &-sortableItemHandle {
    padding: 0 8px;
    border-top: 1px dotted @c-base;
    border-bottom: 1px dotted @c-base;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }
}
