@import '../../css/imports.less';

@c: .About;

@{c} {
  padding-bottom: 50px;

  &-title {
    font-size: @fs-huge;
    font-weight: @fw-bold;
    line-height: @fh-huge;
    text-align: center;

    @media @br-mobile, @br-tablet {
      margin-bottom: 20px;
    }
  }
}
