@import '../../css/imports.less';

@c: .Header;

@{c} {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 40px;
  font-weight: @fw-medium;
  overflow: visible;
  border-bottom: 1px solid @c-accentLightest;
  user-select: none;
  padding: 0 4px 0 0;

  &-name {
    font-weight: @fw-semibold;
  }

  @media @br-mobile, @br-tablet {
    height: unset;
    min-width: unset;
    margin-bottom: 20px;
    padding: 10px 0;
  }

  &-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: @fw-semibold;
  }

  &-navigationItem {
    margin-right: 20px;
    font-size: @fs-small;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: @c-accentLightest;
    text-decoration: underline;
    text-decoration-color: @c-transparent;
    text-decoration-thickness: 2px;
    transition:
      color @td-normal @ease,
      text-decoration-color @td-normal @ease;

    &:hover:not(@{c}-navigationItem--active) {
      cursor: pointer;
      text-decoration-color: @gradientColors[blue-3];
    }

    &:hover:not(@{c}-navigationItem--active),
    &--active {
      color: @c-brand;
    }
  }

  &-buttons {
    display: flex;
    margin-left: auto;
  }

  &-cube {
    height: 16px;
    fill: @gradientColors[blue-1];
    padding-top: 2px;
  }

  &-logOut {
    margin-left: 10px;
    font-size: @fs-small;
    font-weight: @fw-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: @c-transparent;
    text-decoration-thickness: 2px;
    fill: @c-accentLightest;
    transition: fill @td-fast @ease;
    transition: text-decoration-color @td-fast @ease;
    cursor: pointer;

    &:hover {
      text-decoration-color: @c-accent;
    }
  }
}
