@import '../../css/imports.less';

@c: .Header;

@{c} {
  display: flex;
  position: absolute;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  min-width: 960px;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 60px;
  overflow: visible;
  z-index: @z-index-5;

  .isMobile &,
  .isTablet & {
    position: sticky;
    align-items: unset;
    height: 90px;
    min-width: unset;
    top: 0;
    padding: 20px 10px 20px 20px;
  }

  &-logo {
    position: relative;
    height: 40px;
    width: 40px;
    overflow: visible;
    transition: opacity @td-normal ease, transform @td-normal ease;
    cursor: default;

    .isMobile &,
    .isTablet & {
      position: relative;
      top: unset;
      left: unset;
      margin: 0;
    }
  }

  &-logoIcon {
    position: absolute;
    top: 0;
    left: 0;
    fill: @c-blue--pastel;
    transform: rotate(0deg);
    transition: fill @td-normal ease, opacity @td-fast ease, transform @td-normal @ease;
    will-change: transform;
    cursor: default;
    backface-visibility: hidden;

    &.isActive {
      transform: rotate(-90deg);
    }

    &:hover {
      cursor: pointer;
    }

    .Layout--Home & {
      &:hover {
        cursor: default;
      }
    }

    .Layout--What & {
      fill: @c-turquoise;

      &:hover {
        opacity: 0.8;
      }
    }

    .Layout--When & {
      fill: @c-tomato;

      &:hover {
        opacity: 0.8;
      }
    }

    .Layout--Who & {
      fill: @c-gold--pastel;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-logOut {
    height: 29px;
    width: 29px;

    .SvgSprite {
      fill: @c-blue--pastel;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
