@import '../../css/imports.less';

@c: .BaseCarousel;

@{c} {
  position: relative;
  margin-bottom: 50px;

  &-list {
    //
  }

  &-slider {
    box-shadow: 0 0 10px 5px @c-traslucid--light;

    &:hover {
      .slick-arrow {
        opacity: 1;
      }
    }
  }

  .slick-arrow {
    content: ' ';
    display: flex !important; // Required
    position: absolute;
    justify-content: center;
    align-items: center;
    height: unset;
    width: 40px;
    top: 50px;
    bottom: 50px;
    opacity: 0;
    fill: @c-blue--pastel;
    transform: unset;
    transition: opacity @td-normal @ease @td-normal;
    z-index: @z-index-1;

    &:before {
      display: none;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .slick-slide {
    pointer-events: none;
  }

  .slick-active {
    pointer-events: all;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;

    li {
      padding: 5px;
    }

    li button {
      height: 8px;
      width: 8px;
      background: @c-traslucid;
      border-radius: 0;

      &:before {
        display: none;
      }
    }

    li.slick-active button {
      background: @c-blue--pastel;
    }
  }

  &-addIcon {
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 10px;
    right: 10px;
    fill: @c-background;
    transition: fill @td-fast @ease @td-normal;

    &:hover {
      fill: @c-blue--pastel;
      cursor: pointer;
    }
  }
}
