@import '../../css/imports.less';

@c: .LanguagesSwitch;

@{c} {
  display: flex;
  align-items: center;
  font-weight: @fw-bold;

  &-item {
    margin-right: 10px;
    font-weight: @fw-semibold;
    color: @c-accentLightest;
    transition: color @td-fast @ease;
    user-select: none;

    &:last-child {
      margin-right: 0;
    }

    &:hover:not(@{c}-item--active) {
      cursor: pointer;
    }

    &:hover:not(@{c}-item--active),
    &--active {
      color: @c-base;
    }
  }

  &-itemText {
    color: @c-accentLightest;
  }
}
