.selectedText() {
  &::selection {
    background: rgba(255, 252, 160, 0.486);
    color: unset;
  }
}

/*
Description: Foundation 4 docs style for highlight.js;
Author: Dan Allen <dan.j.allen@gmail.com>;
Website: http://foundation.zurb.com/docs/;
Version: 1.0;
Date: 2013-04-02;
*/
.hljs {
  background: unset;
  color: unset;

  .selectedText();

  .hljs-link,
  .hljs-emphasis,
  .hljs-attribute,
  .hljs-addition {
    color: #070;

    .selectedText();
  }

  .hljs-emphasis {
    font-style: italic;

    .selectedText();
  }

  .hljs-strong,
  .hljs-string,
  .hljs-deletion {
    color: #d14;

    .selectedText();
  }

  .hljs-strong {
    font-weight: bold;

    .selectedText();
  }

  .hljs-quote,
  .hljs-comment {
    color: #998;
    font-style: italic;

    .selectedText();
  }

  .hljs-section,
  .hljs-title {
    color: #900;

    .selectedText();
  }

  .hljs-class .hljs-title,
  .hljs-title.class_,
  .hljs-type {
    color: #458;

    .selectedText();
  }

  .hljs-variable,
  .hljs-template-variable {
    color: #336699;

    .selectedText();
  }

  .hljs-bullet {
    color: #997700;

    .selectedText();
  }

  .hljs-meta {
    color: #3344bb;

    .selectedText();
  }

  .hljs-code,
  .hljs-number,
  .hljs-literal,
  .hljs-keyword,
  .hljs-selector-tag {
    color: #099;

    .selectedText();
  }

  .hljs-regexp {
    background-color: #fff0ff;
    color: #880088;

    .selectedText();
  }

  .hljs-symbol {
    color: #990073;

    .selectedText();
  }

  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #007700;

    .selectedText();
  }

  .hljs-attr,
  .hljs-built_in,
  .hljs-punctuation,
  .hljs-params,
  .hljs-property,
  .hljs-function {
    .selectedText();
  }
}
