@import '../../css/imports.less';

@c: .Carousel;

@{c} {
  position: relative;
  margin-bottom: 50px;
  // overflow: hidden;

  &-slide {
    //
  }

  &-slideImage {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
