@import '../../css/imports.less';

@c: .Article;

@{c} {
  padding-bottom: 100px;
  font-family: @ff-sans;

  &-title {
    margin-bottom: 5px;
    font-size: @fs-big;
    font-weight: @fw-semibold;
    text-align: left;

    @media @br-mobile, @br-tablet {
      margin-bottom: 10px;
    }
  }

  &-date {
    margin-bottom: 20px;
    font-size: @fs-small;
    font-weight: @fw-regular;
    text-align: left;
    color: @c-accentLightest;

    @media @br-mobile, @br-tablet {
      margin-bottom: 10px;
    }
  }
}
