@import '../../css/imports.less';

@c: .Article;

@{c} {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  padding-bottom: 50px;
  font-family: @ff-sans;

  @media @br-mobile, @br-tablet {
    width: 100%;
    padding: 100px 10px 50px;
  }

  &-title {
    margin-bottom: 5px;
    font-size: @fs-big;
    font-weight: @fw-semibold;
    text-align: left;

    @media @br-mobile, @br-tablet {
      margin-bottom: 10px;
    }
  }

  &-date {
    margin-bottom: 20px;
    font-size: @fs-small;
    font-weight: @fw-regular;
    text-align: left;
    color: @c-accentLight;

    @media @br-mobile, @br-tablet {
      margin-bottom: 10px;
    }
  }
}
