@import '../../css/imports.less';

@c: .Article;

@{c} {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 70px 50px;

  @media @br-mobile, @br-tablet {
    width: 100%;
    padding: 100px 10px 50px;
  }

  &-title {
    font-family: @ff-serif;
    font-size: @fs-huge;
    font-weight: @fw-bold;
    line-height: @fh-huge;
    text-align: left;

    @media @br-mobile, @br-tablet {
      margin-bottom: 10px;
    }
  }

  &-date {
    margin-bottom: 20px;
    font-family: @ff-serif;
    font-size: 14px;
    font-weight: @fw-semibold;
    text-align: left;

    @media @br-mobile, @br-tablet {
      margin-bottom: 10px;
    }
  }
}
